@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  font-size: 20px;
  font-weight: 400;

  background-color: #0f0f0f;
  color: #f6f6f6;

  line-height: 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ck-color-base-background: #161616 !important;
  --ck-color-base-border: #2f2f2f !important;

  --ck-color-base-focus: #2f2f2f !important;

  --ck-color-button-default-active-background: #202020 !important;
  --ck-color-button-default-hover-background: #202020 !important;

  --ck-color-button-on-color: #2f2f2f !important;
  --ck-color-upload-bar-background: #2f2f2f !important;
  --ck-color-focus-border: #2f2f2f !important;
  --ck-color-focus-outer-shadow: #2f2f2f !important;

  --ck-color-base-text: #e5e5e5 !important;

  --ck-color-base-active: none !important;
  --ck-color-base-active-focus: none !important;

  --ck-color-link-default: #009DC9 !important;

  --ck-focus-ring: none !important;
  --ck-border-radius: 10px !important;
}

a[href] {
  color: var(--ck-color-link-default);
}

::selection {
  background: rgb(94, 94, 94);
}

::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #161616;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  padding: 20px;
}

#title {
  margin-bottom: 10px;
  min-width: 1ch;
  height: 10vh;
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
  width: 250%;
}

#titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 22%;
}

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck-editor__editable[role="textbox"] {
  width: 97vw;

  min-width: 55%;
  max-width: 55%;
}

.ck-content text {
  color: white;
}

.ck-powered-by {
  display: none;
}

.ck-focused {
  border: none !important;
}

.ck ck-button__label {
  color: white;
}

.ck-content {
  margin-top: -10px;
}

#textDisplay {
  width: 500%;
}

#textDisplay :first-child,
:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#cursor {
  display: inline-block;
  background-color: black;
  width: 2px;
  height: 20px;
  animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#textDiv {
  margin-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#popup {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: #171717;
  box-shadow: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071),
    0px 6.3px 24.7px rgba(0, 0, 0, 0.112),
    0px 30px 90px rgba(0, 0, 0, 0.2);
  border: 1 solid #915d5d;
  z-index: 1;
  position: absolute;
  top: 80px;
  width: 700px;
  max-width: 80vw;
  max-height: 70vh;
  overflow: hidden;
}

.results {
  display: flex;
  flex-direction: column;

  padding: 20px;

  height: 500px;
  overflow-y: auto;
}

.focused {
  background-color: #252525;
  border-radius: 9px;

  padding: 10px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #141414;
  gap: 10px;
}

.wideKbd {
  padding: 2px 9px;
}

.suggestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.left-content {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.popupStyling {
  display: flex;
  justify-content: center;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

input {
  flex: 1;
  padding: 20px;
  /* box-sizing: border-box; */
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #171717;
  border-radius: 10px;
  color: #f6f6f6;
  line-height: 34px;

  border: none;
  outline: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #2f2f2f;
  border: none;


  position: absolute;
  top: 60px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;

  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  font-size: 20px;
  font-weight: 400;

  background-color: #161616;
  border-radius: 10px;
  color: #f6f6f6;

  line-height: 34px;

  outline: 0px solid transparent;
}

.bottomLeft {
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
}

.bottomRight>div {
  display: flex;
  flex-direction: row;
  gap: 3px;

  font-size: 14px;
  background-color: #1b1b1b;
  padding: 7px;
  padding-left: 10px;
  border-top-left-radius: 20px;

  user-select: none;
  cursor: default;
}

.pages {
  display: flex;

  box-shadow: 0px 20px 50px 20px #212121;

  cursor: pointer;
  user-select: none;
}

.active {
  color: #fff !important;
}

.pages li {
  width: 25px;
  color: #878787;

  text-align: center;
  border: #393939 1px solid;
  background-color: #1b1b1b;
}

.toastify {
  padding: 10px;
  border-radius: 9px;
  position: fixed;
  display: flex;
  gap: 10px;
  right: 10px;
  background-color: #1b1b1b;
  align-items: center;

  opacity: 0;
  transition: all .4s cubic-bezier(.215, .61, .355, 1);

  cursor: default;

  text-decoration: none;

  max-width: calc(50% - 20px);

  z-index: 2147483647;
}

.toastify.on {
  opacity: 1
}

.toast-close {
  background: 0 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: .4;
  padding: 0 5px
}

.toastify-right {
  right: 15px
}

.toastify-left {
  left: 15px
}

.toastify-top {
  top: -150px
}

.toastify-bottom {
  bottom: -150px
}

.toastify-rounded {
  border-radius: 25px
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content
}

@media only screen and (max-width:360px) {

  .toastify-left,
  .toastify-right {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content
  }
}
